.jquery-ui-like {
	border-radius: 10px;
	background: #FFF;
	border: 1px solid #f0f0f0;
	overflow: hidden;
	height: 2px;
	margin-top: 10px;
	width: 60%;
	float: left;
	background-color: #f0f0f0;
}
.jquery-ui-like div {
	/*background-image: url(pbar-ani.gif);*/
	border-right: 1px solid #DAD4D4;
	/*background-color: #388e3c;*/
}