/* custom css*/

.title-background{
    background: #eee;
}
.f-row {
    width: 100%;
}
.text-uppercase{
	text-transform: uppercase;
}
.small-text{
    font-size: 12px;
    color: #878787;
}
.small-font{
    font-size: 12px;
}
.normal-text{
    font-size: 14px;
    color: #878787;
}
.margin-top{
	margin-top:10px;
}
.margin-bottom{
	margin-bottom:10px;
}
.capitalize {
    text-transform: capitalize;
}
.my_orders_links a{
	color:#0066c0;
}
.cards .dl-horizontal dt{
	text-align: left;
}
.wallet .dl-horizontal dt{
	text-align: left;
}
.border-down{
	border-bottom: 1px solid #ccc;
}
.uploaded_files{
	padding: 10px;
    border: 1px solid #d2d6de;
    background-color: #eeeeee;
}
.green-color{
	color:#0a8f0a;
}
.grey-color{
	color:#cec2c2;
}
.cursor-pointer{
	cursor:pointer;
}
.exchange_button{
	cursor:none;
}
#errors{
	color:red;
	display:none;
}
#errors1{
	color:red;
	display:none;
}
#errors2{
	color:red;
	display:none;
}	
#errors3{
	color:red;
	display:none;	
}
#errorsrep{
	color:red;
	display:none;
}
#errorsrep1{
	color:red;
	display:none;
}
#errorsrep2{
	color:red;
	display:none;
}	
#errorsrep3{
	color:red;
	display:none;	
}
.red{
	color:red;
}
.pincode-search{
	max-width:300px;
}
.qty-arrange{
	max-width:120px;
	text-align:center;
	
}
.cart_summary .qty a:hover {
    background: #ff3300;
    color: #fff;
}

a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;
}
.hightext {
    color: #9b3e01;
}
.hightextbold {
    line-height: 40px;
    color: #9b3e01;
    font-weight: bold;
}
.points_line{
	line-height: 40px;
}
.margin_gap{
	margin: 10px 0 10px 0;
}
.para p{
	line-height: 25px;
}