/*-------------------------------------------------------------------------
[Table of contents]

1. Group button on top menu
2. Latest deals products
3. Products list
4. Header
5. Category featured
6. Banner bottom
7. Blogs
8. Services
9. Footer
10. Owl carousel vertical
11. Styles for devices(>1200px)
12. Styles for devices(>=992px and <=1199px)
13. Styles for devices(>=768px and <=992px)
14. Styles for devices(>=481px and <=767px)
15. Styles for devices(<=480px)

-------------------------------------------------------------------*/
.option5 #main-menu .navbar .navbar-nav>li>a span.notify-right{
  top: -20px;
  left: 40%;
  text-transform: uppercase;
}
/*-------------------
[2. Latest deals products]
*/
.latest-deals-product{
  margin-top: 20px;
  position: relative;
}
.latest-deals-product .count-down-time2{
  position: absolute;
  top: -61px;
  right: 80px;
}
.latest-deals-product .product-list li{
  border: 1px solid #eaeaea;
  overflow: hidden;
  padding-bottom: 5px;
}
.latest-deals-product .product-list li:hover{
  border: 1px solid #ff3300;
}
.latest-deals-product .owl-next{
  top: -40px;
}
.latest-deals-product .owl-prev{
  top: -40px;
  left: inherit;
  right: 26px;
}

.count-down-time2{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  line-height: 40px;
}
.count-down-time2 .icon-clock{
  width: 23px;
  height: 26px;
  background: url("../images/icon-clock.png") no-repeat center center;
  display: inline-block;
  margin-top: 5px;
}
.count-down-time2 .box-count{
  text-transform: none;
  color: #ff3300;
  border: 1px solid #ff3300;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  padding: 0 10px;
  margin-top: 4px;
  margin-right: 4px;
  margin-left: 4px;
}


/*
[3. Products list]
*/
.option5 .product-list li .quick-view{
	right: 10px;
}
.option5 .product-list li .quick-view a:hover{
	color: #ff3300;
}
.option5 .product-list li .add-to-cart:hover{
	background: #ff3300;
}
.option5 .product-list li .product-price {
	color: #004B9B;
}


/*
[4. Header ]
*/
.option5 .logo{
	/*text-align: center;*/
}
.option5 .top-header img {
	margin-top: -5px;
}
.option5 .top-header a.current-open:after{
	font-size: 12px;
}
.option5 .top-header{
	background: #fff;
	font-size: 12px;
}
.option5 .cart-block{
	margin-top: 5px;
}
.option5 .cart-block .cart-block-content .product-info .p-right .p-rice{
	  color: #ff3300;
}
.option5 #shopping-cart-box-ontop .cart-block{
	margin-top: 0;
}
.option5 a:hover{
	color: #ff3300;
}
.option5 .top-header .dropdown-menu{
	border-top: 2px solid #ff3300;
}
.option5 .main-header .header-search-box{
	padding: 0 15px;
	width: 45%;
}
.option5 .main-header .header-search-box .form-inline .form-category{
	float: right;
	margin-right: 40px;
	border-left: 1px solid #eaeaea;
}
.option5 .main-header .header-search-box .form-inline .input-serach{
	padding-top: 9px;
}
.option5 .main-header .header-search-box .form-inline .btn-search{
	/*background: none;*/
	border-left: 1px solid #eaeaea;
	color: #ff3300;
	font-size: 16px;
}
.option5 .main-header .header-search-box .form-inline .btn-search .fa{
	line-height: inherit;
}
.option5 .group-button-header .btn-cart{
	background: url("../images/icon-cart-round5.png") no-repeat center center;
}
.option5 .group-button-header .btn-heart{
	  background: url("../images/icon-heart-round5.png") no-repeat center center;
}
.option5 .group-button-header .btn-compare{
	background: url("../images/icon-compare-round5.png") no-repeat center center;
}

.option5 .nav-top-menu.nav-ontop{
	background: #797979;
	height: 37px;
	border: none;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    transition: all 0.5s ease-in-out 0s;
}
.option5 #form-search-opntop .btn-search .fa{
	display: none;
}
.option5 #box-vertical-megamenus{
	width: 85px;
	padding: 0;
}

.option5 #main-menu .navbar{
	border-radius: 0;
	/*background: #ff3300;*/
	min-height:37px;
}
.option5 #main-menu .navbar-default .navbar-nav>li>a{
	color: #fff;
	border-right: none;
}
.option5 #main-menu .navbar-default .navbar-nav>li:last-child>a{
	background: none;
}
.option5 #main-menu .navbar .navbar-nav>li:hover, 
.option5 #main-menu .navbar .navbar-nav>li.active{
	color: #e80000;
}
/*.option5 #main-menu .navbar .navbar-nav>li:hover a, 
.option5 #main-menu .navbar .navbar-nav>li.active a{
	background: none;
}*/
.option5 #main-menu li.dropdown>a:after{
	/*position: absolute;*/
	left: 46%;
	-ms-transform: translateX(-50%);
  	-webkit-transform: translateX(-50%);
  	transform: translateX(-50%);
	top: 15px;
	font-size: 12px;
}
.option5 #main-menu li.dropdown:hover:before{
	display: none;
}

.option5 .box-vertical-megamenus .title{
	background: #e80000;
}
.option5 .box-vertical-megamenus .vertical-menu-content{
	border-top: none;
	min-width: 270px;
	border-right: 1px solid #eaeaea;
}
.option5 #main-menu{
	width: 100%;
	padding: 0 15px;
	margin: 0;
	/*padding-left: 70px;*/
	margin-top: -1px;
}
.option5 .nav-ontop #box-vertical-megamenus .title{
	background: #e80000;
	color: #fff;
	border-left: none;
	text-align: center;
	height: 51px;

}
.option5 .nav-ontop #box-vertical-megamenus .title .btn-open-mobile{
	margin: 0;
}
.option5 .nav-ontop #box-vertical-megamenus .box-vertical-megamenus{
	top: 0;
}
.option5 #form-search-opntop .btn-search:before{
	color: #fff;
}
.option5 #form-search-opntop form .input-serach input{
	color: #fff;
}
.option5 #form-search-opntop form .input-serach input
.option5 #form-search-opntop form .input-serach input::-webkit-input-placeholder { color:#fff; }
.option5 #form-search-opntop form .input-serach input::-webkit-input-placeholder { color:#fff;  }
.option5 #form-search-opntop form .input-serach input::-webkit-input-placeholder { color:#fff; }

.option5 #form-search-opntop:hover form{
  border: 1px solid #dfdfdf;
  background: #ff3300;
}
.option5 #user-info-opntop a.current-open:before {
  color: #fff;
}
.option5 #shopping-cart-box-ontop .fa{
	color: #fff;
}
.option5 .header-top-right{
	border-top: none;
	margin: 0;
	padding: 0 15px;
}
.option5 .header-top-right .homeslider {
	width: 100%;
}
.option5 .header-top-right .homeslider .bx-controls-direction .bx-prev, 
.option5 .header-top-right .homeslider .bx-controls-direction .bx-next{
	background: #ff3300;
}
.option5 .header-top-right .homeslider .bx-wrapper .bx-pager, 
.option5 .bx-wrapper .bx-controls-auto{
	text-align: center;
}
.option5 .header-top-right .homeslider .bx-wrapper .bx-pager .bx-pager-item a{
	background: #fff;
	font-size: 0;
	border-color: #ff3300;
	width: 14px;
	height: 14px;
}
.option5 .header-top-right .homeslider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.option5 .header-top-right .homeslider .bx-wrapper .bx-pager.bx-default-pager a.active{
	background: #ff3300;
	border-color: #ff3300;
}

.option5 #main-menu .navbar-default .navbar-nav>li>a {
  color: #fff;
  background: url('../images/kak.png') no-repeat right center;
  border-right: none;
}

.option5 .box-vertical-megamenus .vertical-menu-list {
	padding-top: 4px;
}
.option5 .box-vertical-megamenus .vertical-menu-list li{
	border: none;
	padding: 0 20px;
}
.option5 .box-vertical-megamenus .vertical-menu-list>li:hover{
	background: #ff3300;
}
.option5 .box-vertical-megamenus .vertical-menu-list>li:hover>a{
	color: #fff;
	border-color: transparent;
}
.option5 .box-vertical-megamenus .vertical-menu-list>li:hover>a:before{
	color: #fff;
}
.option5 .box-vertical-megamenus .vertical-menu-list:li:last-child>a{
	border:none;
}
.option5 .box-vertical-megamenus .vertical-menu-list>li>a{
	border:none;
	padding-left: 0;
	border-bottom: 1px dotted #eaeaea;
	line-height: 36px;
}
.option5 .box-vertical-megamenus .vertical-menu-list li:hover{
	border-left: none;
}
.option5 .box-vertical-megamenus .vertical-menu-list li:hover>a{
	border-top: none;
}
.option5 .box-vertical-megamenus .all-category{
	margin-top: 0px;
	padding-right: 0;
}
.option5 .vertical-dropdown-menu .mega-group-header span{
	border-color: #ff3300;
}
.option5 .box-vertical-megamenus .all-category span:hover{
	background: #ff3300;
	color: #fff;
	border-color: #ff3300;
}
.option5 .box-vertical-megamenus .all-category span:after{
	  content: "\f101";
	  font-size: 16px;
	  font-weight: normal;
}
.option5 .box-vertical-megamenus .vertical-menu-content ul>li>a.parent:before{
	right: 20px;
}
.option5 .vertical-dropdown-menu .mega-products .mega-product .product-price .new-price{
	  color: #ff3300;
}
.option5 .cart-block .cart-block-content .cart-buttons a.btn-check-out{
	background: #ff3300;
}

.option5 .page-heading{
	font-size: 19px;
	font-weight: bold;
}
.option5 .page-heading span.page-heading-title{
	border-bottom: 2px solid #ff3300;
}

.option5 .owl-controls .owl-prev:hover, 
.option5 .owl-controls .owl-next:hover {
  background: #ff3300;
  color: #fff;
}

.option5 .content-page {
	background: #eaeaea;
}
.option5 #main-menu .dropdown-menu .block-container .group_header>a{
	border-color: #ff3300;
}

/*
[5. Category featured]
*/

.option5 .show-brand .navbar-brand{
	width: 200px;
	position: relative;
	padding-left: 10px;
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-size: 22px;
	font-weight: normal;
}
.option5 .show-brand .navbar-brand img{
	margin-right: 10px;
}
.option5 .show-brand .navbar-brand>a:hover{
	color: #fff;

}
.option5 .show-brand .navbar-brand:after{
	content: '';
	width: 12px;
	height: 20px;
	position: absolute;
	right: 5px;
	color: #fff;
	font-weight: normal;
	background: url("../images/icon-angle-right.png") no-repeat right center;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.option5 .nav-menu{
	margin-bottom: 0;
}
.option5 .nav-menu .nav>li>a{
	background: none;
	padding: 14px 15px;
	margin-left: 10px;
}
.option5 .nav-menu .nav>li>a:after{
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f0d8";
	position: absolute;
	bottom: -40px;
	left: 50%;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	color: #fff;
	-webkit-transition: all 0.3s ease-out 0s;
	  -moz-transition: all 0.3s ease-out 0s;
	  -o-transition: all 0.3s ease-out 0s;
	  transition: all 0.3s ease-out 0s;
	  opacity: 0;
	  visibility: hidden;
}
.option5 .nav-menu .nav>li>a:before{
	content: '';
	width: 100%;
	height: 1px;
	background: #fa8334;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transform: scale(0, 1);
}
.option5 .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #fa8334;
}
.option5 .nav-menu .nav>li:hover a,
.option5 .nav-menu .nav>li.active a{
}

.option5 .nav-menu .nav>li:hover a:before,
.option5 .nav-menu .nav>li.active a:before{
	transform: scale(1);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.option5 .nav-menu .nav>li:hover a:after,
.option5 .nav-menu .nav>li.active a:after{
	color: #fa8334;
	bottom: -6px;
	opacity: 1;
	visibility: inherit;
}

.option5 .product-featured{
	margin-top: 0;
}
.option5 .product-featured .sub-category-list{
	float: left;
	padding: 20px 30px;
	line-height: 30px;
	background: #fff;
}
.option5 .product-featured .product-featured-tab-content{
}
.option5 .product-featured .product-featured-tab-content .box-left{
	width: 40%;
	float: left;
	border-left: 1px solid #eaeaea;
}
.option5 .product-featured .product-featured-tab-content .box-right{
	width: 60%;
	float: left;
}
.option5 .product-featured .product-featured-tab-content .box-full{
	width: 100%;
	float: left;
	border-left: 1px solid #eaeaea;
} 
.option5 .product-featured .product-featured-tab-content .box-full .product-list li{
	width: 20%;
	float: left;
	border-bottom: none;
}
.option5 .product-featured .product-featured-tab-content .category-banner{
	padding-right: 0;
}
.option5 .product-featured .product-featured-tab-content .category-banner img{
	
}
.option5 .product-featured .product-featured-tab-content .category-list-product{
	padding-left: 0;
}
.option5 .product-featured .product-list{
	margin-left: 0;
	margin-right: 0;

}
.option5 .product-featured .product-list li{
	padding: 0;
	min-height: inherit;
	border-right: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
	padding-bottom: 3px;
	min-height: 286px;
}

.option5 .product-featured .owl-prev, 
.option5 .product-featured .owl-next {
  background: transparent;
  width: 28px;
  height: 28px;
  color: #ccc;
  text-align: center;
  padding-top: 0;
  font-size: 48px;
}
.option5 .product-featured .owl-next{
	background: url("../images/next.png") no-repeat center center;
}
.option5 .product-featured .owl-prev{
	background: url("../images/prev.png") no-repeat center center;
}
.option5 .product-featured .owl-prev .fa, 
.option5 .product-featured .owl-next .fa{
	font-weight: normal;
	line-height: 28px;
	display: none;
}
.option5 .product-featured .owl-prev:hover{
	background: url("../images/prev.png") no-repeat center center;
}

.option5 .product-featured .owl-next:hover{
	background: url("../images/next.png") no-repeat center center;
}

.option5 .product-featured .deal-product{
	line-height: 24px;
	border-right: 1px solid #eaeaea;
	overflow: hidden;
	padding-bottom: 23px;
}
.option5 .product-featured .deal-product .deal-product-head{
	text-align: center;
}
.option5 .product-featured .deal-product .deal-product-head h3{
	position: relative;
    z-index: 1;
    margin-top: 15px;
}
.option5 .product-featured .deal-product .deal-product-head h3:before{
	border-top: 1px solid #eaeaea;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 40%; left: 40px; right: 40px; bottom: 0;
    width: 95%;
    z-index: -1;
    width: 300px;/*
    -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);*/
}
.option5 .product-featured .deal-product .deal-product-head h3>span{
	background: #fff; 
    padding: 0 5px; 
    font-size: 14px;
    font-weight: bold;
}
.option5 .product-featured .deal-product .deal-product-content .deal-product-info{
	padding-left: 0;
}
.option5 .product-featured .deal-product .deal-product-content{
	margin-top: 10px;
}
.option5 .product-featured .deal-product .price{
	margin-top: 4px;
}
.option5 .product-featured .deal-product .price span{
	margin-right: 10px;
}
.option5 .product-featured .deal-product .price .product-price{
	color: #ff3300;
	font-size: 18px;
}
.option5 .product-featured .deal-product .price .old-price{
	text-decoration: line-through;
}
.option5 .product-featured .deal-product .price .sale-price{
	background: url("../images/sale-bg.png") no-repeat;
	color: #fff;
	padding: 0 7px;
}
.option5 .product-featured .deal-product .product-star{
	color: #febf2b;
	margin-top: 15px;
}
.option5 .product-featured .deal-product .product-desc{
	margin-top: -3px;
}
.option5 .product-featured .deal-product .show-count-down{
	overflow: hidden;
	margin-top: 11px;
	font-family: 'Arial Narrow', Arial, sans-serif;
	line-height: normal;
}
.option5 .product-featured .deal-product .show-count-down .dot{
	display: none;
}
.option5 .product-featured .deal-product .show-count-down .box-count{
	font-size: 20px;
	color: #717171;
	background: #f6f6f6;
	text-align: center;
	width: 45px;
	height: 47px;
	display: table-cell;
	float: left;
	margin-right: 5px;
}
.option5 .product-featured .deal-product .show-count-down .box-count .number{
	width: 45px;
	font-size: 18px;
	display: table;
	margin-top: 4px;
}
.option5 .product-featured .deal-product .show-count-down .box-count .text{
	width: 45px;
	font-size: 14px;
	display: table;
}
.option5 .product-featured .manufacture-list{
	padding-right: 0;
	float: left;
	overflow: hidden;
}
.option5 .product-featured .manufacture-list .manufacture-waper{
	border: 1px solid #eaeaea;
	padding: 44px 0px 44px 0;
	border-top: none;
	position: relative;
	border-bottom: none;
}
.option5 .product-featured .manufacture-list .manufacture-waper ul{
	padding: 0 20px;
	background: #fff;
}

.option5 .product-featured .manufacture-list .manufacture-waper .owl-prev{
	position: absolute;
	top: -16px;
	left: 0;
	right: 0;
	border-bottom: 1px solid #eaeaea;
}
.option5 .product-featured .manufacture-list .manufacture-waper .owl-next{
	position: absolute;
	bottom: -64px;
	top: inherit;
	left: 0;
	right: 0;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	padding-top: 12px;
	height: 42px;
}
.option5 .product-featured .manufacture-list .manufacture-waper .owl-controls .owl-nav{
	margin: 0;
	padding: 0;
}
.option5 .product-list li .add-to-cart:hover{
	opacity: 1;
}
.option5 .product-list li .add-to-cart a {
	  background: url("../images/icon-cart-option2.png") no-repeat left center;
}
.option5 .product-list li .quick-view a.compare:before{
	  content: "\f066";
}

/** OPTION CATEGORY **/

.option5 .category-featured.fashion .sub-category-list a:hover{
	color: #ff3366;
}
.option5 .category-featured.fashion .navbar-brand{
	background: #ff3366;
}
.option5 .category-featured.fashion .navbar-brand a:hover{
	color: #fff;
}
.option5 .category-featured.fashion .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #ff3366;
}
.option5 .category-featured.fashion .nav-menu .nav>li:hover a,
.option5 .category-featured.fashion .nav-menu .nav>li.active a{
	color: #ff3366;
}

.option5 .category-featured.fashion .nav-menu .nav>li:hover a:after,
.option5 .category-featured.fashion .nav-menu .nav>li.active a:after{
	color: #ff3366;
}

.option5 .category-featured.fashion .nav-menu .nav>li>a:before{
	background: #ff3366;
}

.option5 .category-featured.fashion .product-list li .add-to-cart {
	background-color: rgba(255, 51, 102, 0.7);
	background: rgba(255, 51, 102, 0.7);
	color: rgba(255, 51, 102, 0.7);
}
.option5 .category-featured.fashion .product-list li .add-to-cart:hover {
	background: #ff3366;
}

.option5 .category-featured.fashion .product-list li .quick-view a.search:hover,
.option5 .category-featured.fashion .product-list li .quick-view a.compare:hover,
.option5 .category-featured.fashion .product-list li .quick-view a.heart:hover{
	background-color: #ff3366;
	opacity: 0.9;
}

/** sports **/
.option5 .category-featured.sports .sub-category-list a:hover{
	color: #00a360;
}
.option5 .category-featured.sports .navbar-brand{
	background: #00a360;
}
.option5 .category-featured.sports .navbar-brand a:hover{
	color: #fff;
}
.option5 .category-featured.sports .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #00a360;
}
.option5 .category-featured.sports .nav-menu .nav>li:hover a,
.option5 .category-featured.sports .nav-menu .nav>li.active a{
	color: #00a360;
}
.option5 .category-featured.sports .nav-menu .nav>li:hover a:after,
.option5 .category-featured.sports .nav-menu .nav>li.active a:after{
	color: #00a360;
}

.option5 .category-featured.sports .nav-menu .nav>li>a:before{
	background: #00a360;
}

.option5 .category-featured.sports .product-list li .add-to-cart {
	background-color: rgba(0, 163, 96, 0.7);
	background: rgba(0, 163, 96, 0.7);
	color: rgba(0, 163, 96, 0.7);
}
.option5 .category-featured.sports .product-list li .add-to-cart:hover {
	background: #00a360;
}
.option5 .category-featured.sports .product-list li .quick-view a.search:hover,
.option5 .category-featured.sports .product-list li .quick-view a.compare:hover,
.option5 .category-featured.sports .product-list li .quick-view a.heart:hover{
	background-color: #00a360;
	opacity: 0.9;
}

/** electronic **/
.option5 .category-featured.electronic .sub-category-list a:hover{
	color: #0090c9;
}
.option5 .category-featured.electronic .navbar-brand{
	background: #0090c9;
}
.option5 .category-featured.electronic .navbar-brand a:hover{
	color: #fff;
}
.option5 .category-featured.electronic .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #0090c9;
}
.option5 .category-featured.electronic .nav-menu .nav>li:hover a,
.option5 .category-featured.electronic .nav-menu .nav>li.active a{
	color: #0090c9;
}
.option5 .category-featured.electronic .nav-menu .nav>li>a:before{
	background: #0090c9;
}
.option5 .category-featured.electronic .nav-menu .nav>li:hover a:after,
.option5 .category-featured.electronic .nav-menu .nav>li.active a:after{
	color: #0090c9;
}

.option5 .category-featured.electronic .product-list li .add-to-cart {
	background-color: rgba(0, 144, 201, 0.7);
	background: rgba(0, 144, 201, 0.7);
	color: rgba(0, 144, 201, 0.7);
}
.option5 .category-featured.electronic .product-list li .add-to-cart:hover {
	background-color: #0090c9;
}
.option5 .category-featured.electronic .product-list li .quick-view a.search:hover,
.option5 .category-featured.electronic .product-list li .quick-view a.compare:hover,
.option5 .category-featured.electronic .product-list li .quick-view a.heart:hover{
	background-color: #0090c9;
	opacity: 0.9;
}
/** digital **/
.option5 .category-featured.digital .sub-category-list a:hover{
	color: #3f5eca;
}
.option5 .category-featured.digital .navbar-brand{
	background: #3f5eca;
}
.option5 .category-featured.digital .navbar-brand a:hover{
	color: #fff;
}
.option5 .category-featured.digital .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #3f5eca;
}
.option5 .category-featured.digital .nav-menu .nav>li:hover a,
.option5 .category-featured.digital .nav-menu .nav>li.active a{
	color: #3f5eca;
}
.option5 .category-featured.digital .nav-menu .nav>li>a:before{
	background: #3f5eca;
}
.option5 .category-featured.digital .nav-menu .nav>li:hover a:after,
.option5 .category-featured.digital .nav-menu .nav>li.active a:after{
	color: #3f5eca;
}
.option5 .category-featured.digital .product-list li .add-to-cart {
	background-color: rgba(63, 94, 202, 0.7);
	background: rgba(63, 94, 202, 0.7);
	color: rgba(63, 94, 202, 0.7);
}
.option5 .category-featured.digital .product-list li .add-to-cart:hover {
	background-color: #3f5eca;
}
.option5 .category-featured.digital .product-list li .quick-view a.search:hover,
.option5 .category-featured.digital .product-list li .quick-view a.compare:hover,
.option5 .category-featured.digital .product-list li .quick-view a.heart:hover{
	background-color: #3f5eca;
	opacity: 0.9;
}
/** furniture **/
.option5 .category-featured.furniture .sub-category-list a:hover{
	color: #669900;
}
.option5 .category-featured.furniture .navbar-brand{
	background: #669900;
}
.option5 .category-featured.furniture .navbar-brand a:hover{
	color: #fff;
}
.option5 .category-featured.furniture .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #669900;
}
.option5 .category-featured.furniture .nav-menu .nav>li:hover a,
.option5 .category-featured.furniture .nav-menu .nav>li.active a{
	color: #669900;
}
.option5 .category-featured.furniture .nav-menu .nav>li>a:before{
	background: #669900;
}
.option5 .category-featured.furniture .nav-menu .nav>li:hover a:after,
.option5 .category-featured.furniture .nav-menu .nav>li.active a:after{
	color: #669900;
}

.option5 .category-featured.furniture .product-list li .add-to-cart {
	background-color: rgba(102, 153, 0, 0.7);
	background: rgba(102, 153, 0, 0.7);
	color: rgba(102, 153, 0, 0.7);
}
.option5 .category-featured.furniture .product-list li .add-to-cart:hover {
	background-color: #669900;
}

.option5 .category-featured.furniture .product-list li .quick-view a.search:hover,
.option5 .category-featured.furniture .product-list li .quick-view a.compare:hover,
.option5 .category-featured.furniture .product-list li .quick-view a.heart:hover{
	background-color: #669900;
	opacity: 0.9;
}

/** jewelry **/
.option5 .category-featured.jewelry .sub-category-list a:hover{
	color: #6d6855;
}
.option5 .category-featured.jewelry .navbar-brand{
	background: #6d6855;
}
.option5 .category-featured.jewelry .navbar-brand a:hover{
	color: #fff;
}
.option5 .category-featured.jewelry .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #6d6855;
}
.option5 .category-featured.jewelry .nav-menu .nav>li:hover a,
.option5 .category-featured.jewelry .nav-menu .nav>li.active a{
	color: #6d6855;
}
.option5 .category-featured.jewelry .nav-menu .nav>li>a:before{
	background: #6d6855;
}
.option5 .category-featured.jewelry .nav-menu .nav>li:hover a:after,
.option5 .category-featured.jewelry .nav-menu .nav>li.active a:after{
	color: #6d6855;
}
.option5 .category-featured.jewelry .product-list li .add-to-cart {
	background-color: #6d6855;
}
.option5 .category-featured.jewelry .product-list li .add-to-cart {
	background-color: rgba(109, 104,85, 0.7);
	background: rgba(109, 104,85, 0.7);
	color: rgba(109, 104,85, 0.7);
}
.option5 .category-featured.jewelry .product-list li .add-to-cart:hover {
	background-color: #6d6855;
}

.option5 .category-featured.jewelry .product-list li .quick-view a.search:hover,
.option5 .category-featured.jewelry .product-list li .quick-view a.compare:hover,
.option5 .category-featured.jewelry .product-list li .quick-view a.heart:hover{
	background-color: #6d6855;
	opacity: 0.9;
}
/****/

/*-----------------
[6. Banner bootom]
*/
.option5 .banner-bottom .item-left{
	padding-right: 0;
}
.option5 .banner-bottom .item-right{
	padding-left: 0;
}




/*--------------
[8. Services]
*/
.services2{
	margin-top: 30px;
	border-top: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	overflow: hidden;
}
.services2 .services2-item{
	padding: 0;
	border-left: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 15px;
	min-height: 120px;
}
.services2 .services2-item .image{
	text-align: center;
	color: #333333;
	padding-left: 30px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal;
}
.services2 .services2-item .image h3{
	font-size: 14px;
	color: #333333;
	font-weight: 600;
	margin-top: 10px;
}
.services2 .services2-item .text{
	padding-top: 15px;
	color: #919191;
	padding-left: 0;
	padding-right: 30px;

}


/*--------------
[9. Footer]
*/

.option5 .scroll_top:hover{
	background: #ff3300;
}


/*-----------------
[10. Owl carousel vertical]
*/
.owl-carousel-vertical .owl-next,
.owl-carousel-vertical .owl-prev{
	position: inherit;
	width: 100%!important;
	height: 17px;
	margin: 0 auto;
	float: left;
	opacity: 1;
	visibility: inherit;
	background: none;

}
.owl-carousel-vertical .owl-controls .owl-nav{
	margin: 0 auto;
	text-align: center;
	display: table-cell;
	width: 100%!important;
	float: left;
}

.option5 .product-featured .owl-carousel-vertical .owl-controls .owl-nav{
	margin-top: 26px;
	padding-left: 30px;
}
.option5 .product-featured .owl-carousel-vertical .owl-controls .owl-nav .owl-next,
.option5 .product-featured .owl-carousel-vertical .owl-controls .owl-nav .owl-prev{
	background: none;
}

.option5 .blog-list .blog-list-wapper ul li .readmore a{
	color: #ff3300;
}


/** REPONSIVE **/
/*----------------
[11. Styles for devices(>1200px)]
*/
@media (min-width: 1201px){
	
}
/*----------------
[12. Styles for devices(>=993px and <=1200px)]
*/
@media (min-width: 993px) and (max-width: 1200px) {
	/*.option5 .group-button-header{
		width: 100%;
		float: left;
	}*/
	.option5 .sub-category-wapper{
		width: 15%;
		display: none;
	}
	.option5 .col-right-tab{
		width: 100%;

	}
	.option5 .product-featured .manufacture-list .manufacture-waper{
		display: none;
	}
	.option5 .product-featured .product-featured-tab-content .category-list-product{
		padding-left: 15px;
	}
	.option5 .product-featured .product-featured-tab-content .category-list-product .product-list{
		border-left: 1px solid #eaeaea;
	}
	.option5 .main-header .header-search-box{
		width: 45%;
	}
	.option5 #home-slider .header-top-right .homeslider, 
	.option5 #home-slider .header-top-right .header-banner{
		border: none;
	}
}
/*--------------------
[13. Styles for devices(>=768px and <=992px)]
*/
@media (min-width: 768px) and (max-width: 992px) {
	.option5 .group-button-header{
		margin-top: 18px;
	}
	.option5 .main-header .logo{
		margin-top: 0;
	}
	.option5 .nav-menu .nav>li>a{
		padding: 14px 10px;
		margin-left: 0;
	}
	.option5 .product-featured .product-featured-tab-content .box-left{
		width: 100%;
	}
	.option5 .product-featured .product-featured-tab-content .box-right{
		width: 100%;
		border-left: 1px solid #eaeaea;
	}
	.option5 .sub-category-wapper{
		width: 20%;
	}
	.option5 .col-right-tab{
		width: 80%;
	}
	.option5 .show-brand .navbar-brand{
		width: 21%;
		padding-right: 30px;
		font-size: 14px;
		font-weight: bold;
	}
	.option5 .product-featured .sub-category-list{
		padding: 10px;
	}
	.option5 .product-featured .box-left .banner-img{
		display: none;
	}
	.option5 .product-featured .manufacture-list .manufacture-waper{
		display: none;
	}
	.option5 .product-featured .product-featured-tab-content .box-full .product-list li{
		width: 33.3333%;
	}
	.option5 .product-featured .product-featured-tab-content .category-list-product{
		padding-left: 15px;
	}
	.option5 .product-featured .product-featured-tab-content .category-list-product .product-list{
		border-left: 1px solid #eaeaea;
	}
	.option5 .product-featured .product-featured-tab-content .category-list-product .product-list li{
		width: 33.3333%;
	}
	.option5 .main-header .header-search-box{
		width: 45%;
	}
	
}
/*--------------------
[14. Styles for devices(>=481px and <=767px)]
*/
@media (min-width: 481px) and (max-width: 767px) { 
	.group-button-header{
		margin-top: 25px;
		margin-bottom: 15px;
	}
	.group-button-header .btn-cart, .group-button-header .btn-heart, .group-button-header .btn-compare{
		float:none;
		text-align:center;
		margin:0 auto;
	}
	.option5 .logo{
		margin-top: 15px;
	}
	.main-header .group-button-header .btn-cart:hover .cart-block {
		display: none;
	}
	.option5 .main-header .header-search-box{
		padding-right: 15px;
		width:100%;
	}
	.option5 #main-menu .navbar{
		background: none;
	}
	/*.option5 #main-menu .navbar-header{
		background: #ff3300;
	}*/
	.option5 #main-menu .navbar-default .navbar-nav>li>a{
		background: none;
		color: #999;
	}
	.option5 #main-menu li.dropdown>a:after {
	  position: absolute;
	  left: inherit;
	  right: 10px;
	  -ms-transform: translateY(-50%);
	  -webkit-transform: translateY(-50%);
	  transform: translateY(-50%);
	  top: 50%;
	  font-size: 12px;
	}
	.option5 #main-menu .navbar .navbar-nav>li:hover,
	.option5 #main-menu .navbar .navbar-nav>li.active{
		background: none;
	}
	.latest-deals-product .count-down-time2{
		position: inherit;
		top: inherit;
		right: inherit;
	}
	.latest-deals-product .owl-prev {
	  top: 50%;
	  left: 0;
	  right: inherit;
	}
	.latest-deals-product .owl-next {
	  top: 50%;
	}
	.option5 .content-page{
		margin-top: 30px;
	}
	.option5 .nav-menu{
		background: #ccc;
	}
	.option5 .nav-menu .nav>li>a{
		margin-left: 0;
		padding: 5px 15px;
	}
	
	.option5 .nav-menu .nav>li>a:after{
		display: none;
	}
	.option5 .product-featured .sub-category-wapper{
		width: 100%;
		padding: 15px;
		display: none;
	}
	.option5 .product-featured .product-featured-tab-content .box-left{
		width: 100%;
		display: none;
	}
	.option5 .product-featured .product-featured-tab-content .box-right{
		width: 100%;
		border-left: 1px solid #eaeaea;
	}
	.option5 .product-featured .deal-product .deal-product-content .deal-product-info{
		padding-left: 15px;
	}
	.option5 .product-featured .product-featured-tab-content .box-full .product-list li{
		width: 50%;
		float: left;
	}
	.services2 .services2-item .image{
		padding: 15px 30px 0 30px 0;
	}
	.services2 .services2-item .text{
		padding: 15px 30px;
		text-align: center;
	}
	.option5 .product-featured .manufacture-list{
		display: none;
	}
	.option5 .product-featured .product-list li{
		width: 50%;
		float: left;
	}
	.option5 .product-featured .product-featured-tab-content .category-list-product{
		padding-left: 15px;
		border-left: 1px solid #eaeaea;
	}
	.option5 #main-menu{
		padding: 0;
	}
	.option5 #main-menu .navbar-header{
		margin: 0;
	}
	.option5 #box-vertical-megamenus{
		display: none;
	}
	.option5 #main-menu .navbar-collapse{
		margin-left: 0;
	}
}
/*--------------------
[15. Styles for devices(<=480px)]
*/
@media (max-width: 480px) {
	.group-button-header{
		margin-top: 8px;
		margin-bottom: 15px;
	}
	.group-button-header .btn-cart, .group-button-header .btn-heart, .group-button-header .btn-compare{
		float:none;
		text-align:center;
		margin:0 auto;
	}
	.option5 .logo{
		width: 100%;
		margin-top: 0;
	}

	.main-header .group-button-header .btn-cart:hover .cart-block {
		display: none;
	}
	.option5 .main-header .header-search-box{
		padding-right: 15px;
		width:100%;
	}
	.option5 #main-menu .navbar{
		background: none;
	}
	.option5 #main-menu .navbar-header{
		background: #797979;
	}
	.option5 #main-menu .navbar-default .navbar-nav>li>a{
		background: none;
		color: #3c3c3c;
		white-space: nowrap;
	}
	.option5 #main-menu li.dropdown>a:after {
	  position: absolute;
	  left: inherit;
	  right: 10px;
	  -ms-transform: translateY(-50%);
	  -webkit-transform: translateY(-50%);
	  transform: translateY(-50%);
	  top: 50%;
	  font-size: 18px;
	}
	.option5 #main-menu .navbar .navbar-nav>li:hover,
	.option5 #main-menu .navbar .navbar-nav>li.active{
		background: none;
	}
	.latest-deals-product .count-down-time2{
		position: inherit;
		top: inherit;
		right: inherit;
	}
	.latest-deals-product .owl-prev {
	  top: 50%;
	  left: 0;
	  right: inherit;
	}
	.latest-deals-product .owl-next {
	  top: 50%;
	}
	.option5 .content-page{
		margin-top: 30px;
	}
	.option5 .nav-menu{
		background: #ccc;
	}
	.option5 .nav-menu .nav>li>a{
		margin-left: 0;
		padding: 5px 15px;
	}
	
	.option5 .nav-menu .nav>li>a:after{
		display: none;
	}

	.option5 .product-featured .sub-category-wapper{
		display: none;
	}
	.option5 .product-featured .product-featured-tab-content .box-left{
		width: 100%;
		display: none;
	}
	.option5 .product-featured .product-featured-tab-content .box-right{
		width: 100%;
	}
	.option5 .product-featured .deal-product .deal-product-content .deal-product-info{
		padding-left: 15px;
	}
	.option5 .product-featured .product-featured-tab-content .box-full .product-list li{
		width: 100%;
	}
	.services2 .services2-item .image{
		padding: 15px 30px 0 30px 0;
	}
	.services2 .services2-item .text{
		padding: 15px 30px;
		text-align: center;
	}
	.option5 .product-featured .manufacture-list{
		display: none;
	}
	.option5 .product-featured .product-list li{
		border-right: none;
	}
	.option5 .product-featured .product-featured-tab-content .category-list-product{
		padding-left: 15px;
		border-left: 1px solid #eaeaea;
	}
	.option5 #main-menu{
		padding: 0;
	}
	.option5 #main-menu .navbar-header{
		margin: 0;
	}
	.option5 #box-vertical-megamenus{
		display: none;
	}
	.option5 #main-menu .navbar-collapse{
		margin-left: 0;
	}
	.block-testimonials .testimonials .owl-item.item-center li{
		width: 120px;
		height: 120px;
		position: absolute;
		z-index: 2;
	}

}
/*-------------------
[9. Block Testimonials]
---------------------*/

.block-testimonials{
	background: url("../images/testimonials.jpg") 50% 0 no-repeat fixed;
	color: #fff;
	/*margin-top: 70px;*/
}
.block-testimonials .section-title:after,
.block-testimonials .section-title:before{
	background: #fff;
}
.block-testimonials .section-title{
	color: #fff;
	margin-top: 17px;
}
.block-testimonials .section-container{
	background: rgba(0,0,0,0.7);
	padding-bottom: 60px;
	padding-top: 42px;
}
.block-testimonials .testimonials{
	padding-top: 18px;
	max-width: 375px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 0;
}
.block-testimonials .testimonials .testimonial li{
	padding: 45px 0;
}
.block-testimonials .testimonials .testimonial li a{
	position: relative;
	float: left;
	width: 100%;
}

.block-testimonials .testimonials .owl-item.item-center li{
	width: 140px;
	height: 140px;
	position: absolute;
	z-index: 2;
	top: -25px;
	left: 50%;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.block-testimonials .testimonials .owl-item.item-center li a:before{
	opacity: 0;
}
.block-testimonials .testimonials .owl-item.item-center li img{
	opacity: 1;
}
.block-testimonials .testimonials li img{
	border: 3px solid #bcbdbe;
	border-radius: 90%;
	
}
.block-testimonials .testimonials li a{
	position: relative;
	margin-bottom: 30px;
}
.block-testimonials .testimonials li a:before{
	content: '';
	background: #000;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: 90%;
	z-index: 2;
	opacity: 0.5;
}
.block-testimonials .testimonial{
	position: static;
}
.block-testimonials .testimonial .info{
	display:none;
}
.block-testimonials .testimonial-caption{
	text-align: center;
	max-width: 940px;
	margin: 0 auto;
	color: #fff;
	line-height: 24px;
	padding-top: 12px;
}
.block-testimonials .testimonial-caption .testimonial-nane{
	margin-top: 10px;
	font-style: italic;
}
.block-testimonials .testimonial-wapper{
	position: relative;
}
.block-testimonials .owl-controls .owl-prev, 
.block-testimonials .owl-controls .owl-next{
	width: 36px;
	height: 36px;
	background: transparent;
	border: 1px solid #eaeaea;
	line-height: 35px;
	color: #333;
	top: 52.5%;
	-moz-transition: all 0.45s ease;
    -webkit-transition: all 0.45s ease;
    -o-transition: all 0.45s ease;
    -ms-transition: all 0.45s ease;
    transition: all 0.45s ease;
    opacity: 0;
    visibility: hidden;
    color: #fff;
}
.block-testimonials .owl-controls .owl-prev{
	left: -36px;
}
.block-testimonials .owl-controls .owl-next{
	right: -36px;
}
.block-testimonials .testimonial-wapper:hover .owl-controls .owl-prev{
	left: 0px;
	opacity: 1;
	visibility: inherit;
}
.block-testimonials .testimonial-wapper:hover .owl-controls .owl-next{
	right: 0px;
	opacity: 1;
	visibility: inherit;
}
.block-testimonials .owl-controls .owl-prev:hover, 
.block-testimonials .owl-controls .owl-next:hover{
	background: #0088cc;
	border-color: #0088cc;
	color: #fff;
}
.section8 .section-title{
	display: table;
	margin: 0 auto;
	font-size: 24px;
	position: relative;
	line-height: 24px;
	text-transform: capitalize;
	height: 40px;
}
.section8 .section-title:before{
	content: '';
	width: 120px;
	height: 1px;
	background: #9c2730;
	position: absolute;
	bottom: 0px;
	left: 50%;
	-ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.section8 .section-title:after{
	content: '';
	width: 30px;
	height: 3px;
	background: #ff3300;
	position: absolute;
	bottom: -1px;
	left: 50%;
	-ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*-----------------------
[7. Block Trending]
-----------------------*/
.block-trending{
	margin-top: 70px;
}
.block-trending .products-style8{
	margin-top: 30px;
}
.block-trending .owl-controls .owl-prev, 
.block-trending .owl-controls .owl-next{
	width: 36px;
	height: 36px;
	background: transparent;
	border: 1px solid #eaeaea;
	line-height: 35px;
	color: #333;
	top: 38%;
	-moz-transition: all 0.45s ease;
    -webkit-transition: all 0.45s ease;
    -o-transition: all 0.45s ease;
    -ms-transition: all 0.45s ease;
    transition: all 0.45s ease;
    opacity: 0;
    visibility: hidden;
}
.block-trending .owl-controls .owl-prev{
	left: -36px;
}
.block-trending .owl-controls .owl-next{
	right: -36px;
}
.block-trending .owl-carousel:hover .owl-controls .owl-prev{
	left: -18px;
	opacity: 1;
	visibility: inherit;
}
.block-trending .owl-carousel:hover .owl-controls .owl-next{
	right: -18px;
	opacity: 1;
	visibility: inherit;
}
.block-trending .owl-controls .owl-prev:hover, 
.block-trending .owl-controls .owl-next:hover{
	background: #0088cc;
	border-color: #0088cc;
	color: #fff;
}
.products-style8{

}
.products-style8 .product-thumb{
	position: relative;
	overflow: hidden;
	/*ox-shadow: 1px 1px 5px #888888;*/
}
.products-style8 .product-thumb a{
	position: relative;
}
.products-style8 .product-thumb img{
	border: 1px solid #eaeaea;
	width: 100%;
    /*-webkit-transition: all 1s ease;
    transition: all 1s ease;*/
    display: inherit;
}
.products-style8 .product-thumb .secondary_image{
	position: absolute;
	/*top: -2px;
	left: 0;*/
	opacity: 0;
}

.products-style8 .product-thumb .quick-view{
	background-color: rgb(30, 28, 16,.7);
	text-transform:capitalize;
	position: absolute;
	left: 0;
	bottom: -36px;
	right: 0;
	height: 36px;
	line-height: 35px;
	display: inline-block;
    color: #fff;
    margin: auto;
    text-align: center;
     -webkit-transition: all 0.3s ease-out 0.45s;
    -moz-transition: all 0.3s ease-out 0.45s;
    -o-transition: all 0.3s ease-out 0.45s;
    transition: all 0.3s ease-out 0.45s;
}
.product-container:hover .product-thumb .quick-view{
	bottom: 0;
}
.products-style8 .tooltip .tooltip-inner{
	/*background: #0088cc;*/
	background: #f24f02;
	
	border-radius: 0;
	color: #fff;
	padding: 5px 10px;
}

.products-style8 .tooltip.top .tooltip-arrow{
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #f24f02
}
.products-style8 .product-info{
	line-height: 18px;
	text-align: center;
	padding-top: 17px;
}
.products-style8 .product-info .product-name{
	font-style: 14px;
	text-transform: capitalize;
}
.products-style8 .product-info .box-price{
	margin-top: 10px;
	font-size: 16px;
}
.products-style8 .product-info .box-price .price{
	color: #ff3300;
}
.products-style8 .product-info .box-price .old-price{
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.products-style8 .product-info .button-control{
	margin-top: 10px;
}
.products-style8 .compare,
.products-style8 .add-to-cart,
.products-style8 .wishlist{
	height: 36px;
	padding: 0 10px;
	border: 1px solid #CEC8B7;
	border-radius:3px;
	line-height: 35px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
}
.products-style8 .compare,
.products-style8 .wishlist{
	width: 36px;
}
.products-style8 .compare:hover,
.products-style8 .add-to-cart:hover,
.products-style8 .wishlist:hover{
	background: #0088cc;
	
}
.products-style8 .add-to-cart{
	padding: 0 20px;
}
.products-style8 .compare,
.products-style8 .wishlist{
	font-size: 0;
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
   /* -webkit-transform: scale(0,1);
    transform: scale(0,1);
    opacity: 0;*/
	
}
.products-style8 .compare:before{
	font-family: 'FontAwesome';
	font-size: 14px;
	content: "\f0ec";
}
.products-style8 .wishlist:before{
	font-family: 'FontAwesome';
	font-size: 14px;
	content: "\f08a";
}
.products-style8 .product-container:hover .secondary_image{
	opacity: 0;
	left:0;
}
.products-style8 .product-container:hover .primary_image{
	opacity: 1;
}
.products-style8 .product-container:hover .quick-view{
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	transition: all 0.4s;
}
.products-style8 .product-container:hover .compare,
.products-style8 .product-container:hover .wishlist{
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.block-banner8{
	margin-top: 60px;
}
.block-banner8 .banner-text{
	position: relative;
}
.block-banner8 .banner-text .banner-content{
	position: absolute;
	left: 0;
	right: 12px;
	top: 0;
	bottom: 0;
	text-align: right;
	padding-top: 20%;
}
.block-banner8 .banner-text .banner-content .banner-title{
	font-size: 24px;
	line-height: 30px;
	color: #666;
	
}
.block-banner8 .banner-text .banner-content .banner-desc{
	font-size: 14px;
	color: #666;
	line-height: 30px;
	margin-top: -4px;
}
.block-banner8 .banner-text .banner-content .banner-button{
	height: 36px;
	border: 1px solid #666;
	padding: 0 22px;
	line-height: 35px;
	text-transform: uppercase;
	display: inline-block;
	width: auto;
	color: #333333;
	margin-top: 14px;
}
.block-banner8 .banner-text .banner-content .banner-button:hover{
	background: #0088cc;
	color: #fff;
	border-color: #0088cc;
}
.form-newsletter{
	height: 32px;
	float: left;
	background: #fff;
	width: auto;
	margin: 20px 0 0 10px;
}
.form-newsletter .form-newsletter-input{
	height: 32px;
	padding-left: 15px;
	border: 1px solid #c9c9c9;
	font-size: 13px;
	color: #333;
}
.form-newsletter .form-newsletter-button{
	width: 42px;
	height: 32px;
	float: right;
	background: #ff3300;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	border: none;
	opacity: 1;
}
.form-newsletter .form-newsletter-button:hover{
	opacity: 0.8;
}

/*a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}*/

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 365px;
    position: fixed;
    top: 0;
    left: -365px;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #111;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 50px;
    text-align: center;
    background: transparent;
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
	font-size: 2em;
}

#dismiss:hover {
    background: transparent;
    color: #111;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 0;
    background: transparent;
	width:75%;
	margin-top:0;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar p {
    color: #111;
    padding: 10px 10px 10px 30px;
	font-weight:bold;
	font-size:1.2em;
	
}

#sidebar ul li a {
    padding: 15px 10px 15px 30px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #111;
    background: #eaeded;
	padding: 15px 10px 15px 30px;
    font-size: 1.1em;
}


#sidebar ul li a[data-toggle="collapse"][aria-expanded="false"]:after {
    position: absolute;
    left: inherit;
    right: 20px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    font-size: 18px;
}
#sidebar ul li a[data-toggle="collapse"][aria-expanded="false"]:after {
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 20px;
    vertical-align: 0;
    padding-left: 7px;
}
#sidebar ul li a[data-toggle="collapse"][aria-expanded="true"]:after {
    position: absolute;
    left: inherit;
    right: 20px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    font-size: 18px;
}
#sidebar ul li a[data-toggle="collapse"][aria-expanded="true"]:after {
    content: "\f107";
    font-family: "FontAwesome";
    font-size: 20px;
    vertical-align: 0;
    padding-left: 7px;
}


#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #111;
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 45px !important;
    background: #fff;
}
#footer2 #trademark-text-box a, #footer2 .footer-menu-list li >a {
    color: #999;
}
#footer2 #trademark-text-box a:hover, #footer2 .footer-menu-list li >a:hover {
    color: #fff;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}